In [6]:
import pandas as pd
import os
print(os.getcwd())
os.chdir('d:\\GyanPrakashKuswaha\\ml-projects\\recrate-Customer-Churn-Prediction')

d:\GyanPrakashKuswaha\ml-projects\recrate-Customer-Churn-Prediction

In [7]:
df = pd.read_excel(r'artifacts\raw_data\customer_churn_large_dataset.xlsx')

In [9]:
df = df.drop(columns=['CustomerID', 'Name'])

In [11]:
df.isnull().sum()

Age                           0
Gender                        0
Location                      0
Subscription_Length_Months    0
Monthly_Bill                  0
Total_Usage_GB                0
Churn                         0
dtype: int64

In [12]:
df.describe()

,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,44.027020,12.490100,65.053197,274.393650,0.497790
std,15.280283,6.926461,20.230696,130.463063,0.499998
min,18.000000,1.000000,30.000000,50.000000,0.000000
25%,31.000000,6.000000,47.540000,161.000000,0.000000
50%,44.000000,12.000000,65.010000,274.000000,0.000000
75%,57.000000,19.000000,82.640000,387.000000,1.000000
max,70.000000,24.000000,100.000000,500.000000,1.000000

In [ ]:
df['Churn'].plot(kind = 'bar')